.DS_Store

.vscode/

.env
!.env.example

/zeeperio-rs/target/


**/*.ptau
**/ppot_*.ptau

**/srs/


proof_*.json
proof*.json
calldata_*.json
calldata_*.bin
audit_openings*.json
inclusion_openings*.json
audit_state*.json
inclusion_state*.json


/foundry/cache/
/foundry/out/
/foundry/fixtures/
/foundry/broadcast/
/foundry/coverage/
/foundry/solidity-files-cache/
/foundry/forge-debug.log
